*.class
/Praktikum-07/Modul 10e/latihanMedium/nbproject/private/
/Praktikum-07/Modul 10e/latihanMedium/build/
/Praktikum-07/New Folder/latihanVeryEasy/nbproject/private/
/Praktikum-07/New Folder/latihanVeryEasy/build/
/Praktikum-07/Modul 10c/latihanTutorial/latihanTutorial/nbproject/private/
/Praktikum-07/Modul 10c/latihanTutorial/latihanTutorial/build/
/Praktikum-10/Modul/nbproject/private/
/Praktikum-10/Modul/build/
/Praktikum-10/GuiCollection/nbproject/private/
/Praktikum-10/GuiCollection/build/
/Praktikum-10/GuiCollection2/nbproject/private/
/Praktikum-10/GuiCollection2/build/
/Praktikum-10/Modul/GuiCollection3/nbproject/private/
/Praktikum-10/Modul/GuiCollection3/build/
